html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1em;
  font-weight: 400;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

h1 {
  color: #1d1d35;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin: 10px;
}

p .question {
  color: #56555d;
  font-weight: 400;
  margin-right: 25px;
}

p {
  color: #56555d;
  font-size: 0.85em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 25px 50px 25px;
}

.container {
  background-color: white;
  width: 325px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.image-container {
  width: 250px;
  position: relative;
}

.img-woman {
  position: absolute;
  top: -140px;
}

.img-diamond-mobile {
  position: absolute;
  top: -20px;
}

.img-diamond-desktop {
  display: none;
}

.faq-container {
  padding: 100px 0 25px 0;
}

.accordion {
  border-bottom: hsl(240, 5%, 91%) 1px solid;
  width: 310px;
}

.answer {
  display: none;
}

.active {
  font-weight: 700;
}

.question:hover {
  color: orangered;
  cursor: pointer;
}

.question:after {
  content: url("../images/icon-arrow-down.svg");
  float: right;
}

.active:after {
  content: url("../images/icon-arrow-down.svg");
  display: inline-block;
  transform: rotate(180deg);
}

/*****Desktop Styles*****/
@media only screen and (min-width: 1200px) {

  .container {
    display: flex;
    flex-direction: row;
    width: 825px;
  }

  .image-container {
    width: 420px;
  }
  
  .img-woman {
    width: 420px;
    position: absolute;
    top: -150px;
    left: -125px;
  }

  .img-diamond-mobile {
    display: none;
  }

  .img-diamond-desktop {
    display: inline;
    width: 500px;
    position: absolute;
    top: -240px;
    left: -200px;
  }

  .faq-container {
    padding: 50px;
  }

  .accordion {
    width: 375px;
  }

  h1 {
    text-align: left;
    margin: 0;
    padding: 0 0 20px 0;
  }

  p .question {
    margin-right: 50px;
  }
  
}